.button{
  display: block;
  text-decoration: none;
  color: black;
  padding: 14px 34px 13px 33px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  width: 20%;
}

.button:hover{
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 34px 13px 33px;
  font-size: 20px;
  text-align: center;
  background-color: black;
}

.center{
  margin-top: 20%;
  margin-left: 40%;
  display: block;
  vertical-align: 50%;
  text-align: center;
}
